.loader-section {
  display: flex;
  background: #000;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Fade out transition */
}

.loader-content {
  position: relative;
}

.loader-h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loader-h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #E85353;
}

.loader-animated {
  color: #E85353;
  animation: loader-animate 4s ease-in-out infinite;
}

@keyframes loader-animate {
  0%, 100% {
    clip-path: polygon(
      0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%
    );
  }
}

.loader-section.loaded {
  opacity: 0;
}
