.MindFule-Container{
    width: 100vw;
    background-color: black;
    color: #dadada;
    display: flex;
    justify-content: center;
    padding: 10% 0;
    

}
.Mindfule-2child{
    width: 90%;
    flex-direction: column;
}

.Mindfule-Heading{
    display: flex;
    flex-direction: column;   
    align-items: center; 
    /* margin-bottom: 8rem; */
}


.main-heading{
    text-align: left;
    align-items: center;
    letter-spacing: 0;
    /* text-transform: uppercase; */
    /* font-family: "Roboto Condensed", sans-serif; */
    font-weight: 900;
    color: #dadada;

}
.main-heading h2{
    font-size: calc(3vh + 3vw);
}
.resource-sec{
    align-items: center;
    margin-top: 1%;
    display: flex;
    position: relative;

}


.resource-sec button{
    text-align: center;
    color: #dadada;
    background-color: rgba(12, 12, 12, 0);
    border: 2px solid #dadada;
    border-radius: 1.6vw;
    width: auto;
    min-width: 80px;
    height: auto;
    margin-right: 1.5vw;
    padding: 0.8vw 1.5vw;
    font-family: Aeonik, sans-serif;
    font-size: calc(1vh + 0.5vw);
    font-weight: 600;
    transition: all .2s ;
}

.resource-sec button:hover {
    border: 2px solid #E85252;
    cursor: pointer;
    background-color: #dadada;
    color: #111;
}

.Mindfule-Body{
    margin-top: 5%;
    display: flex;
    row-gap: 50px;
    flex-direction: column;
    
}
.MD-text-sec{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.mchd{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Mdchild-heading{
    font-size: calc(3vh + 2vw);
    font-weight: 700;
    

}
.Mdchild-tagline{
    font-size: calc(1vh + 1vw);
    font-weight: 600;
    margin: 1.5rem 0;

}
.Mdchild-content{
    font-size: calc(1vh + 0.5vw);
    word-spacing: 3px;
}

.MD-image-sec img{
    height: 70vh;
}