.nav {

    height: 10vh;
    width: 100vw;
    background-color: #010100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dadada;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform 0.7s ease;
    z-index: 20;


}

.lboss-nav {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #dadada;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform 0.7s ease;
}

.nav.hidden {
    transform: translateY(-100px);
    /* Adjust the value based on your navbar height */
}

.nav-m {
    position: relative;

}

.navtogglebtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.navtogglebtn svg {
    width: 3.25vw;
    height: 4vh;

}
.nav-l{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
}
.nav-l img {
    width: 6.25vw;


}



.nav-btn button {
    background-color: transparent;
    /* border:2px solid #F16363; */
    border-style: none;
    height: 4.353vh;
    width: 6.25vw;
    border-radius: 7px;
    font-weight: 600;
    font-size: calc(1vw + 0.5vh);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* nav-btn button:hover{
    color: #F16363;
} */

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid #F16363; */
    border-radius: 7px;
    font-size: calc(1vw + 0.5vh);
    width: 4vw;
}


.nav-btn button a {
    text-decoration: none;
    color: #dadada;
}

.nav-r {
    width: 20rem;
    align-items: center;
    display: flex;
    justify-content: end;
}
